<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bithash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>liborthros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B97611B51B478D6100971064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B97611BF1B478D6100971064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9857A401A903F1F005FDB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9857A591A903F1F005FDB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
